In [1]:
import pandas as pd
import os

In [3]:
our_data_root = './../Our Data/'

In [7]:
list_of_sessions = next(os.walk(our_data_root))[1]

In [8]:
list_of_sensors = ['Accelerometer',
                  'Gyroscope',
                  'Magnetometer',
                  'KeyPressEvent',
                  'KeyboardTouchEvent']

In [23]:
columns = {'Accelerometer':['Systime','EventTime','ActivityID','X','Y','Z','Phone_orientation'],
           'Gyroscope':['Systime','EventTime','ActivityID','X','Y','Z','Phone_orientation'],
           'Magnetometer':['Systime','EventTime','ActivityID','X','Y','Z','Phone_orientation'],
           'KeyboardTouchEvent':['Systime','EventTime','ActivityID','Pointer_count','PointerID','ActionID','X','Y','Pressure','Contact_size','Phone_orientation'],
           'KeyPressEvent':['Systime','PressTime','PressType','ActivityID','KeyID','Phone_orientation']}

In [24]:
accelerometer = pd.DataFrame(columns=columns['Accelerometer'])
for session in list_of_sessions:
    accelerometer = accelerometer.append(pd.read_csv(our_data_root+session+'/Accelerometer.csv',names=columns['Accelerometer']))
accelerometer.to_csv(our_data_root+'Accelerometer.csv')
gyroscope = pd.DataFrame(columns=columns['Gyroscope'])
for session in list_of_sessions:
    gyroscope = gyroscope.append(pd.read_csv(our_data_root+session+'/Gyroscope.csv',names=columns['Gyroscope']))
gyroscope.to_csv(our_data_root+'Gyroscope.csv')
Magnetometer = pd.DataFrame(columns=columns['Magnetometer'])
for session in list_of_sessions:
    Magnetometer = Magnetometer.append(pd.read_csv(our_data_root+session+'/Magnetometer.csv',names=columns['Magnetometer']))
Magnetometer.to_csv(our_data_root+'Magnetometer.csv')
KeyboardTouchEvent = pd.DataFrame(columns=columns['KeyboardTouchEvent'])
for session in list_of_sessions:
    KeyboardTouchEvent = KeyboardTouchEvent.append(pd.read_csv(our_data_root+session+'/KeyboardTouchEvent.csv',names=columns['KeyboardTouchEvent']))
KeyboardTouchEvent.to_csv(our_data_root+'KeyboardTouchEvent.csv')
KeyPressEvent = pd.DataFrame(columns=columns['KeyPressEvent'])
for session in list_of_sessions:
    KeyPressEvent = KeyPressEvent.append(pd.read_csv(our_data_root+session+'/KeyPressEvent.csv',names=columns['KeyPressEvent']))
KeyPressEvent.to_csv(our_data_root+'KeyPressEvent.csv')

In [21]:

accelerometer.ActivityID.unique()

array(['Jo1', 'Diego01', 'Toto1', 'Toto6', 'jo3', 'jo2', 'Diego02',
       'Diego03', 'Toto5', 'Toto2'], dtype=object)

In [11]:
accelerometer = pd.DataFrame(columns=columns['Accelerometer'])

In [13]:
pd.read_csv(our_data_root+session+'/Accelerometer.csv',columns=columns['Accelerometer'])

TypeError: parser_f() got an unexpected keyword argument 'columns'

In [28]:
pd.read_csv(our_data_root+'/KeyPressEvent.csv')

,Unnamed: 0,Systime,PressTime,PressType,ActivityID,KeyID,Phone_orientation
0,0,1537190598209,NaN,0,Jo1,-1,0
1,1,1537190598267,NaN,1,Jo1,-1,0
2,2,1537190598667,NaN,0,Jo1,101,0
3,3,1537190598757,NaN,1,Jo1,101,0
4,4,1537190598822,NaN,0,Jo1,117,0
5,5,1537190598935,NaN,1,Jo1,117,0
6,6,1537190599224,NaN,0,Jo1,98,0
7,7,1537190599322,NaN,1,Jo1,98,0
8,8,1537190599545,NaN,0,Jo1,112,0
9,9,1537190599674,NaN,1,Jo1,112,0
10,10,1537190599712,NaN,0,Jo1,114,0
11,11,1537190599778,NaN,1,Jo1,114,0
12,12,1537190600083,NaN,0,Jo1,111,0
13,13,1537190600151,NaN,1,Jo1,111,0
14,14,1537190600887,NaN,0,Jo1,-5,0
15,15,1537190600897,NaN,1,Jo1,-5,0
16,16,1537190601043,NaN,0,Jo1,-5,0
17,17,1537190601052,NaN,1,Jo1,-5,0
18,18,1537190601192,NaN,0,Jo1,-5,0
19,19,1537190601201,NaN,1,Jo1,-5,0
20,20,1537190601337,NaN,0,Jo1,-5,0
21,21,1537190601346,NaN,1,Jo1,-5,0
22,22,1537190601503,NaN,0,Jo1,-5,0
23,23,1537190601512,NaN,1,Jo1,-5,0
24,24,1537190601939,NaN,0,Jo1,-1,0
25,25,1537190602018,NaN,1,Jo1,-1,0
26,26,1537190602377,NaN,0,Jo1,117,0
27,27,1537190602462,NaN,1,Jo1,117,0
28,28,1537190602830,NaN,0,Jo1,32,0
29,29,1537190602839,NaN,1,Jo1,32,0
...,...,...,...,...,...,...,...
25304,1783,1540743289502,NaN,0,Toto2,100,0
25305,1784,1540743289514,NaN,1,Toto2,100,0
25306,1785,1540743289639,NaN,0,Toto2,97,0
25307,1786,1540743289713,NaN,1,Toto2,97,0
25308,1787,1540743289830,NaN,0,Toto2,114,0
25309,1788,1540743289871,NaN,1,Toto2,114,0
25310,1789,1540743289920,NaN,0,Toto2,105,0
25311,1790,1540743289928,NaN,1,Toto2,105,0
25312,1791,1540743290011,NaN,0,Toto2,97,0
25313,1792,1540743290104,NaN,1,Toto2,97,0
25314,1793,1540743291330,NaN,0,Toto2,32,0
25315,1794,1540743291334,NaN,1,Toto2,32,0
25316,1795,1540743291568,NaN,0,Toto2,111,0
25317,1796,1540743291624,NaN,1,Toto2,111,0
25318,1797,1540743291808,NaN,0,Toto2,32,0
25319,1798,1540743291812,NaN,1,Toto2,32,0
25320,1799,1540743291891,NaN,0,Toto2,99,0
25321,1800,1540743291952,NaN,1,Toto2,99,0
25322,1801,1540743292095,NaN,0,Toto2,114,0
25323,1802,1540743292174,NaN,1,Toto2,114,0
25324,1803,1540743292195,NaN,0,Toto2,105,0
25325,1804,1540743292237,NaN,1,Toto2,105,0
25326,1805,1540743292354,NaN,0,Toto2,109,0
25327,1806,1540743292413,NaN,1,Toto2,109,0
25328,1807,1540743292449,NaN,0,Toto2,101,0
25329,1808,1540743292548,NaN,1,Toto2,101,0
25330,1809,1540743292745,NaN,0,Toto2,46,0
25331,1810,1540743292810,NaN,1,Toto2,46,0
25332,1811,1540743293133,NaN,0,Toto2,-3,0
25333,1812,1540743293203,NaN,1,Toto2,-3,0