In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Keypress

In [27]:
#keyPress = pd.read_csv('../agg_datasets/KeyPressEvent.csv',index_col = 0)
keyPress = pd.read_csv('./../Our Data/KeyPressEvent.csv',index_col = 0)

In [3]:
#keyPress = keyPress.rename(columns={'PressType':'ActivityID','ActivityID':'PressType'})

In [28]:
#keyPress['SessionID'] = np.floor(keyPress.ActivityID/10e6).astype(int)
keyPress['SessionID'] = keyPress.ActivityID

In [29]:
aux = keyPress[['Systime','SessionID']].groupby('SessionID').agg([np.min,np.max]).Systime

In [30]:
aux['diff'] = aux.amax - aux.amin
aux = aux.reset_index()

In [31]:
bla = []
step = 5000
for _,row in aux.iterrows():
    i = 0
    t0 = row.amin
    while (t0+step < row.amax):
        aux_dict = {}
        aux_dict['SessionID'] = row.SessionID
        aux_dict['WindowNumber'] = i
        aux_dict['WindowStart'] = t0
        aux_dict['WindowEnd'] = t0+step
        t0 += step
        i += 1
        bla.append(aux_dict)

In [32]:
fim = pd.DataFrame(bla)

In [33]:
fim.to_csv('skeleton.csv',index=False)

In [34]:
fim = pd.read_csv('skeleton.csv')

In [36]:
%%time
aux = keyPress.merge(fim,on='SessionID')

CPU times: user 222 ms, sys: 120 ms, total: 343 ms
Wall time: 347 ms

In [38]:
aux = aux[(aux.Systime >= aux.WindowStart) & (aux.Systime <= aux.WindowEnd)]

In [39]:
def discoverWindowNumber(row,skeleton=fim):
    x = skeleton[(skeleton.SessionID == row.SessionID) & (skeleton.WindowStart < row.Systime) & (fim.WindowEnd > row.Systime)]
    if x.empty:
        return None
    else:
        return x.WindowNumber.values[0]

In [17]:
i = 0
for _,row in keyPress.iterrows():
    i += 1
    if i == 100:
        l = row
        break

In [41]:
keyPress['WindowNumber'] = keyPress.apply(discoverWindowNumber,axis=1)

In [42]:
keyPress

,Systime,PressTime,PressType,ActivityID,KeyID,Phone_orientation,SessionID,WindowNumber
0,1537190598209,NaN,0,Jo1,-1,0,Jo1,NaN
1,1537190598267,NaN,1,Jo1,-1,0,Jo1,0.0
2,1537190598667,NaN,0,Jo1,101,0,Jo1,0.0
3,1537190598757,NaN,1,Jo1,101,0,Jo1,0.0
4,1537190598822,NaN,0,Jo1,117,0,Jo1,0.0
5,1537190598935,NaN,1,Jo1,117,0,Jo1,0.0
6,1537190599224,NaN,0,Jo1,98,0,Jo1,0.0
7,1537190599322,NaN,1,Jo1,98,0,Jo1,0.0
8,1537190599545,NaN,0,Jo1,112,0,Jo1,0.0
9,1537190599674,NaN,1,Jo1,112,0,Jo1,0.0
10,1537190599712,NaN,0,Jo1,114,0,Jo1,0.0
11,1537190599778,NaN,1,Jo1,114,0,Jo1,0.0
12,1537190600083,NaN,0,Jo1,111,0,Jo1,0.0
13,1537190600151,NaN,1,Jo1,111,0,Jo1,0.0
14,1537190600887,NaN,0,Jo1,-5,0,Jo1,0.0
15,1537190600897,NaN,1,Jo1,-5,0,Jo1,0.0
16,1537190601043,NaN,0,Jo1,-5,0,Jo1,0.0
17,1537190601052,NaN,1,Jo1,-5,0,Jo1,0.0
18,1537190601192,NaN,0,Jo1,-5,0,Jo1,0.0
19,1537190601201,NaN,1,Jo1,-5,0,Jo1,0.0
20,1537190601337,NaN,0,Jo1,-5,0,Jo1,0.0
21,1537190601346,NaN,1,Jo1,-5,0,Jo1,0.0
22,1537190601503,NaN,0,Jo1,-5,0,Jo1,0.0
23,1537190601512,NaN,1,Jo1,-5,0,Jo1,0.0
24,1537190601939,NaN,0,Jo1,-1,0,Jo1,0.0
25,1537190602018,NaN,1,Jo1,-1,0,Jo1,0.0
26,1537190602377,NaN,0,Jo1,117,0,Jo1,0.0
27,1537190602462,NaN,1,Jo1,117,0,Jo1,0.0
28,1537190602830,NaN,0,Jo1,32,0,Jo1,0.0
29,1537190602839,NaN,1,Jo1,32,0,Jo1,0.0
...,...,...,...,...,...,...,...,...
1783,1540743289502,NaN,0,Toto2,100,0,Toto2,41.0
1784,1540743289514,NaN,1,Toto2,100,0,Toto2,41.0
1785,1540743289639,NaN,0,Toto2,97,0,Toto2,41.0
1786,1540743289713,NaN,1,Toto2,97,0,Toto2,41.0
1787,1540743289830,NaN,0,Toto2,114,0,Toto2,41.0
1788,1540743289871,NaN,1,Toto2,114,0,Toto2,41.0
1789,1540743289920,NaN,0,Toto2,105,0,Toto2,41.0
1790,1540743289928,NaN,1,Toto2,105,0,Toto2,41.0
1791,1540743290011,NaN,0,Toto2,97,0,Toto2,41.0
1792,1540743290104,NaN,1,Toto2,97,0,Toto2,41.0
1793,1540743291330,NaN,0,Toto2,32,0,Toto2,NaN
1794,1540743291334,NaN,1,Toto2,32,0,Toto2,NaN
1795,1540743291568,NaN,0,Toto2,111,0,Toto2,NaN
1796,1540743291624,NaN,1,Toto2,111,0,Toto2,NaN
1797,1540743291808,NaN,0,Toto2,32,0,Toto2,NaN
1798,1540743291812,NaN,1,Toto2,32,0,Toto2,NaN
1799,1540743291891,NaN,0,Toto2,99,0,Toto2,NaN
1800,1540743291952,NaN,1,Toto2,99,0,Toto2,NaN
1801,1540743292095,NaN,0,Toto2,114,0,Toto2,NaN
1802,1540743292174,NaN,1,Toto2,114,0,Toto2,NaN
1803,1540743292195,NaN,0,Toto2,105,0,Toto2,NaN
1804,1540743292237,NaN,1,Toto2,105,0,Toto2,NaN
1805,1540743292354,NaN,0,Toto2,109,0,Toto2,NaN
1806,1540743292413,NaN,1,Toto2,109,0,Toto2,NaN
1807,1540743292449,NaN,0,Toto2,101,0,Toto2,NaN
1808,1540743292548,NaN,1,Toto2,101,0,Toto2,NaN
1809,1540743292745,NaN,0,Toto2,46,0,Toto2,NaN
1810,1540743292810,NaN,1,Toto2,46,0,Toto2,NaN
1811,1540743293133,NaN,0,Toto2,-3,0,Toto2,NaN
1812,1540743293203,NaN,1,Toto2,-3,0,Toto2,NaN

In [43]:
keyPress.to_csv('../Our Data Windowed/KeyPressEvent.csv',index=False)

# Touch Event

In [21]:
#keyPress = pd.read_csv('../agg_datasets/TouchEvent.csv')
keyPress = pd.read_csv('./../Our Data/KeyboardTouchEvent.csv',index_col = 0)

In [22]:
#keyPress['SessionID'] = np.floor(keyPress.ActivityID/10e6)
keyPress['SessionID'] = keyPress.ActivityID

In [23]:
skeleton = pd.read_csv('skeleton.csv')

In [25]:
aux_list = []
last_session = -1
last_windowNumber = -1
last_windowEnd = -1
count = 0
j = 0
for _,row in keyPress.iterrows():
    if row.SessionID != last_session:
        skeletonWithSessionId = skeleton[skeleton.SessionID == row.SessionID]
        last_session = row.SessionID
    currentSystime = int(row.Systime)
    if currentSystime > last_windowEnd:
        final_df = skeletonWithSessionId[(skeletonWithSessionId.WindowStart <= currentSystime) & (skeletonWithSessionId.WindowEnd > currentSystime)]
        if final_df.empty:
            last_windowEnd = -1
            last_windowNumber = -1
        else:
            last_windowEnd = final_df.WindowEnd.values[0]
            last_windowNumber = final_df.WindowNumber.values[0]
    aux_list.append(last_windowNumber)
    count = count + 1
    j = j + 1
    if (j == 100000):
        print(count)
        j = 0
keyPress['WindowNumber'] = aux_list

In [26]:
#keyPress.to_csv('../windowed/TouchEvent.csv',index=False)
keyPress.to_csv('../Our Data Windowed/TouchEvent.csv',index=False)

# Accelerometer

In [44]:
keyPress = pd.read_csv('./../Our Data/Accelerometer.csv',index_col = 0)

In [45]:
keyPress['SessionID'] = keyPress.ActivityID

In [46]:
skeleton = pd.read_csv('skeleton.csv')

In [47]:
aux_list = []
last_session = -1
last_windowNumber = -1
last_windowEnd = -1
count = 0
j = 0
for _,row in keyPress.iterrows():
    if row.SessionID != last_session:
        skeletonWithSessionId = skeleton[skeleton.SessionID == row.SessionID]
        last_session = row.SessionID
    currentSystime = int(row.Systime)
    if currentSystime > last_windowEnd:
        final_df = skeletonWithSessionId[(skeletonWithSessionId.WindowStart <= currentSystime) & (skeletonWithSessionId.WindowEnd > currentSystime)]
        if final_df.empty:
            last_windowEnd = -1
            last_windowNumber = -1
        else:
            last_windowEnd = final_df.WindowEnd.values[0]
            last_windowNumber = final_df.WindowNumber.values[0]
    aux_list.append(last_windowNumber)
    count = count + 1
    j = j + 1
    if (j == 100000):
        print(count)
        j = 0
keyPress['WindowNumber'] = aux_list

100000

In [48]:
keyPress.to_csv('../Our Data Windowed/Accelerometer.csv',index=False)

# Gyroscope

In [49]:
keyPress = pd.read_csv('./../Our Data/Gyroscope.csv',index_col = 0)

In [50]:
keyPress['SessionID'] = keyPress.ActivityID

In [51]:
skeleton = pd.read_csv('skeleton.csv')

In [52]:
aux_list = []
last_session = -1
last_windowNumber = -1
last_windowEnd = -1
count = 0
j = 0
for _,row in keyPress.iterrows():
    if row.SessionID != last_session:
        skeletonWithSessionId = skeleton[skeleton.SessionID == row.SessionID]
        last_session = row.SessionID
    currentSystime = int(row.Systime)
    if currentSystime > last_windowEnd:
        final_df = skeletonWithSessionId[(skeletonWithSessionId.WindowStart <= currentSystime) & (skeletonWithSessionId.WindowEnd > currentSystime)]
        if final_df.empty:
            last_windowEnd = -1
            last_windowNumber = -1
        else:
            last_windowEnd = final_df.WindowEnd.values[0]
            last_windowNumber = final_df.WindowNumber.values[0]
    aux_list.append(last_windowNumber)
    count = count + 1
    j = j + 1
    if (j == 100000):
        print(count)
        j = 0
keyPress['WindowNumber'] = aux_list

In [53]:
keyPress.to_csv('../Our Data Windowed/Gyroscope.csv',index=False)

# Magnetometer

In [54]:
keyPress = pd.read_csv('./../Our Data/Magnetometer.csv',index_col = 0)

In [55]:
keyPress['SessionID'] = keyPress.ActivityID

In [56]:
skeleton = pd.read_csv('skeleton.csv')

In [57]:
aux_list = []
last_session = -1
last_windowNumber = -1
last_windowEnd = -1
count = 0
j = 0
for _,row in keyPress.iterrows():
    if row.SessionID != last_session:
        skeletonWithSessionId = skeleton[skeleton.SessionID == row.SessionID]
        last_session = row.SessionID
    currentSystime = int(row.Systime)
    if currentSystime > last_windowEnd:
        final_df = skeletonWithSessionId[(skeletonWithSessionId.WindowStart <= currentSystime) & (skeletonWithSessionId.WindowEnd > currentSystime)]
        if final_df.empty:
            last_windowEnd = -1
            last_windowNumber = -1
        else:
            last_windowEnd = final_df.WindowEnd.values[0]
            last_windowNumber = final_df.WindowNumber.values[0]
    aux_list.append(last_windowNumber)
    count = count + 1
    j = j + 1
    if (j == 100000):
        print(count)
        j = 0
keyPress['WindowNumber'] = aux_list

In [58]:
keyPress.to_csv('../Our Data Windowed/Magnetometer.csv',index=False)